<!DOCTYPE html>
<html>
<head>
    <title>About - Housing Market Analysis</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
</head>
<body>

<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <span class="navbar-brand">Housing Market Analysis</span>
    <div>
      <a href="/" class="text-white me-3">Home</a>
      <a href="/dashboard" class="text-white me-3">Dashboard</a>
      <a href="/about" class="text-white">About</a>
    </div>
  </div>
</nav>

<div class="container mt-5">

    <h1 class="text-center">About This Project</h1>

    <p class="mt-4">
        This project aims to analyze housing market trends using Tableau.
        We study factors like renovation years, number of bedrooms,
        bathrooms, floors, and house age to understand their impact on sales price.
    </p>

    <p>
        The dashboard helps real estate analysts, marketing teams,
        and executives make informed strategic decisions.
    </p>

</div>
<footer class="bg-dark text-white text-center py-4 mt-5">
  <div class="container">
    <h5>Housing Market Analysis</h5>
    <p class="mb-1">Visualizing Housing Trends using Tableau</p>
    <small>© 2026 |Developed by M.H.G.Lakshmi</small>
  </div>
</footer>

</body>
</html>
